 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')
     
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
font-family: "Work Sans", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}

.btn-primary{border-radius: 8px;
      color: #fff;
      font-size:2rem;
      background-color: #ff900e;
      padding: 15px 20px ;
      cursor: pointer;
      border: 0;

}

header{ background-color:rgba(247, 144, 14, 0.10);
           
    padding: 50px; 240px  }

    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .section-titel{font-size: 2.6rem;
      font-weight: 700;
      color: #131313;

    }

    nav > ul{
      display: flex;

      
    }

    nav  li{
      list-style: none;
      margin-right: 30px;
      font-weight: 500;
      font-size: 1rem;
     
    }
    nav li a{
      text-decoration: none;
      color: #242424;
    }

    /* banner-style */

    .banner-content{
      max-width: 800px;
      text-align: center;
      margin: 0 auto;
    }
    .banner-title{
      font-size: 4rem;
      font-weight: 700;
      color: #131313;
    }
    .description{
      color: #727272;
      font-size: 17px;
    }

    .banner img{
      margin-top: 20px;
      width: 100%;
    }





/* main style */
main{
  max-width:1440px ;
  margin: 70px auto;
}

.teams-contaner{
  display: flex;
  align-items: center;
}

.teams-img-contaner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.teams-content{padding-right: 70px;
  padding-left: 70px;

}

.teams-title{
  font-size: 2.8rem;
}

.teams-title .Quick-list{
  color: #727272;
  font-weight: 500;
}

.teams-title .Features{
  color: #ff900e;
  font-weight: 700;
}



/* facts section */

.facts-card-container{
  display: flex;
  justify-content: space-around;
  
}
  
  .text-light-gray{
    color: #727272;
    font-size: 2rem;
  } 

.facts-card-container .card{
  border-radius:4px ;
  border: 1px solid rgb(245, 176, 164);
  text-align: center;
 padding:30px;
 margin-right: 40px;
 flex: 1;
 margin-top: 20px;

}



.facts-card-container .card-stats{
  font-size: 2.8rem;
  color: #242424;
  margin-top: 10px;
  margin-bottom: 10px;
}

.facts-card-container .card-title{
  font-weight: 600;
  font-size: 1.25rem;
  color: #727272;
  margin-top: 5px;
}


/* responsive media queries */
/* mubail devices */

@media screen and (max-width:576px) {
  header{
    padding:20px ;
  }
  nav ,.teams-contaner ,.facts-card-container{
    flex-direction: column;
  }

  .teams-img-contaner{
    grid-template-columns: 1fr;
  }
  .teams-content, .facts-card-container {padding-right: 10px;
    padding-left: 10px;
  
  }

  .facts-card-container{
    gap: 20px;
  }
  
}
/* tabletor medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
  header{
    padding:20px ;
  }
  nav ,.teams-contaner{flex-direction: column;}

  .facts-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}